@page
@model WorkoutTrackerWeb.Pages.Sets.IndexModel

@{
    ViewData["Title"] = "Sets";
}

<h1>Sets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Session
            </th>
            <th>
                Exercise
            </th>
            <th>
                Set Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].Notes)
            </th>
            <th>
                Number of Reps
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Set) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Session.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.ExcerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Settype.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberReps)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
