@page
@model WorkoutTrackerWeb.Pages.Reps.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].repnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].Excercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rep) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.SessionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excercise.ExcerciseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RepId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RepId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
