@page
@model WorkoutTrackerWeb.Pages.Reps.IndexModel

@{
    ViewData["Title"] = "Reps";
}

<h1>Reps</h1>

<p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="createRepDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Create New Rep
        </button>
        <ul class="dropdown-menu" aria-labelledby="createRepDropdown">
            @foreach (var set in Model.AvailableSets)
            {
                <li><a class="dropdown-item" asp-page="Create" asp-route-setId="@set.SetId">For @set.Exercise.ExcerciseName (Set @set.SetId)</a></li>
            }
        </ul>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Session
            </th>
            <th>
                Exercise
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].repnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rep[0].success)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rep) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sets.Exercise.Session.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sets.Exercise.ExcerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.success)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RepId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RepId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
