@page
@model WorkoutTrackerWeb.Pages.Sets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>aSet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.User.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.Session)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.Session.SessionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aSet.Excercise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aSet.Excercise.ExcerciseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.aSet.aSetId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
