@page
@model WorkoutTrackerWeb.Pages.Sets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aSet[0].Excercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.aSet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.SessionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excercise.ExcerciseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.aSetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.aSetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.aSetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
